.header img {
	border-radius: 100%;
	height: 100%;
}

.header span {
	font-size: 18pt;
	color: white;
}

.header {
	display:flex;
    align-items:center;
    margin: 20px 0;
    background-color: #2B587A;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #928F8F;
    padding-right: 10px;
}

.pageTitle {
	flex: 2;
    text-align: right;
}