<link rel="stylesheet" href="../css/auth.css">
<div class="container">
	<div class="row">
		<form role="form" class="col-sm-4 col-sm-push-4 auth_form">
			<img class="vk_logo" src="http://s1.iconbird.com/ico/2013/6/270/w445h4451371236205MezhdunarodnylogotipVK500.png" alt="">
			<div class="auth_title">
				<h2>Авторизация</h2>
			</div>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<input type="text" id="login" class="form-control" placeholder="Имя пользователя" required autofocus />
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" id="password" class="form-control" placeholder="Ваш пароль" required />
			</div>
			<button type="button" class="auth_btn btn">Войти</button>

		</form>
	</div>
</div>
