<link rel="stylesheet" href="../css/photos.css">
<div class="container-fluid">
	<div class="row header">
		<img class="col-sm-1" ng-src={{profile.photo_200}} alt="">
		<span>{{profile.first_name + " " + profile.last_name}}</span>
		<span class="pageTitle">{{pageTitle}}</div>
	</div>
	<div class="photos">
		<div id={{photo.id}} class="photo" ng-repeat="photo in photos" ng-click="openPopupImage(this)">
			<img ng-src={{photo.src}} >
			<div class="tooltip_container">
				<span class="likes">{{"&#x2764;" + photo.likes}}</span>
			</div>
		</div>
	</div>
</div>

<div class="popup_container" ng-if="isPopup" ng-click="closePopupImage()">
		<img ng-src={{popupImageSrc}} alt="">
</div>
